.form {
    font-family: "Montserrat", sans-serif;
    max-width: 600px;
    margin: 30px auto;
    padding: 10px 20px;
    border: 5px double hsl(146, 3%, 43%);
    border-radius: 10px;
    background-color: hwb(136 45% 44%);
}

.form__labelText {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-right: 5px;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.form__field:required {
    border-color: rgb(107, 114, 110);
}

.form__button {
    width: 100%;
    border: none;
    background-color: hsl(146, 3%, 43%);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: hsl(146, 3%, 55%);
}

.form__button:active {
    background-color: hsl(146, 3%, 63%);
}

.form__field:invalid {
    background-color: hsl(7, 37%, 86%);
}

.form__button--reset {
    width: 100%;
}

.form__fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 25px 0;
}

.form__legend {
    background-color: hsl(146, 3%, 43%);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.form__paragraph {
    text-align: center;
    font-size: 20px;
}

.form__courseInfo {
    text-align: center;
    font-size: 10px;
}