html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    background-image: url("../images/background-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: inherit;

}

.footer {
    text-align: center;
    margin-top: 20%;
}